.student {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #F7F7F6;
    padding: 18px;
    img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 2px solid #DCDCDC; 
        margin: 0 10px;
    }

    .text-info {
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        h1 {
            margin: 0 0 10px 10px;
            font-weight: 700;
            font-size: 2.8em;
        }
        p {
            margin: 4px 0 0 36px;
            color: #595958;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.01px;
        }
    }
}