.student-list {
    height: 80%;
    max-width: 920px;
    margin: auto;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.student {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #F7F7F6;
    padding: 17px;
    background: white;
    img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 2px solid #DCDCDC; 
        margin: 0 10px;
    }

    .text-info {
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        h1 {
            margin: 0 0 10px 10px;
            font-weight: 700;
            font-size: 3em;
        }
        p {
            margin: 4px 0 0 36px;
            color: #595958;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
        }
    }
}